#description-hidden-rp {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.read-more-btn-rp{
    text-align: center;
}

.close-btn{
    text-align: center;
}

#close-desc-btn{
    display: none;
}