body{
    font-family: 'Montserrat', sans-serif;
           margin: 0;
        padding: 0;
}

.primary-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
        background-color: #2fc042;
          transition: color 0.7s ease;
}
.primary-wrapper h1{
    font-size: 90px;
    font-weight: 900;
      transition: color 0.7s ease;
      cursor: pointer;
}

