body{
    background-color: rgb(193, 230, 139);
    font-family: 'Montserrat', sans-serif;
}

.primary-wrapper{
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-wrapper h1{
    font-size: 74px;
    font-weight: 800;
      transition: color 0.3s ease;
}